fastapi[standard]==0.136.1
SQLAlchemy==2.0.49
pg8000==1.31.5
pydantic==2.13.3
pydantic-settings==2.14.0
cryptography==42.0.7
PyJWT==2.12.1
pwdlib[argon2]==0.3.0
python-multipart==0.0.27
puremagic==2.2.0
pillow==12.2.0
